# dependencies
node_modules/
# Android build / native artifacts
android/.cxx/
android/app/.cxx/
android/build/
android/app/build/

# NDK / CMake
*.o
*.obj
*.so
*.a


# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
